.register-form {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: white;
  }
  .register-form img {
    width: 72px;
    height: 72px;
    margin: 0 auto 10px;
    display: block;
  }
  .register-form h4 {
    text-align: center;
    margin-bottom: 20px;
  }
  .register-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .register-form .form-control:focus {
    z-index: 2;
  }
  .register-form .register-btn {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
  }
  .gray-bg container{
    background-color: #f0eaee;
}