<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Formation</title>
    <link rel="stylesheet" href="inscription-formation.component.css">
</head>
<div class="body">
<body>
    <div class="container">
        <form>
            <label for="formationName">Nom et code la formation :</label>
            <input type="text" id="formationName" name="formationName" placeholder="T 07 Infirmier relais en soins de plaies">
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</body>
</div>
</html>
