<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="voir-formations.component.css">
    <title>Vos Formations</title>
</head>
<body class="body">
    <div class="container-fluid p-5">
        <h2 class="text-center mb-4">Vos Formations</h2>
        <div class="row">
            <div class="col-lg-4 mb-3">
                <div class="card formation-card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Formations en cours</h5>
                        <h3 class="card-text">3 Formations</h3>
                        <ul class="list-unstyled">
                            <div>
                                <ul>T07 Plaie en soins </ul>
                                <ul>T07 Plaie en soins </ul>
                                <ul>T07 Plaie en soins </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card formation-card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Formations passées</h5>
                        <h3 class="card-text">3 Formations</h3>
                        <ul class="list-unstyled">
                            <div>
                                <ul>T07 Plaie en soins </ul>
                                <ul>T07 Plaie en soins </ul>
                                <ul>T07 Plaie en soins </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="card formation-card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">Formations futures</h5>
                        <h3 class="card-text">4 Formations</h3>
                        <ul class="list-unstyled">
                            <div>
                                <li>T07 Plaie en soins <button class="btn btn-danger">Annuler</button></li>
                                <li>T07 Plaie en soins <button class="btn btn-danger">Annuler</button></li>
                                <li>T07 Plaie en soins <button class="btn btn-danger">Annuler</button></li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>
