.body{
    margin-top: 150px;
}
.formation-title {
    color: #4a5d68;
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.list-group-item {
   background-color: #f8f9fa;
    border: 1px solid #e9ecef;
}

.formation-section {
    margin-bottom: 2rem;
}
body{
    background-color: #f0eaee;
}
