<body class="body">
    <br />
    <nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav" style="right: 200px;">
        <div class="container d-flex">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <button
                        (click)="selectMenu('future')"
                        class="btn btn-sm btn-outline-secondary me-2"
                        type="button"
                    >
                        <h4>Formations futurs</h4>
                    </button>
                </li>
                <li class="nav-item">
                    <button
                        (click)="selectMenu('past')"
                        class="btn btn-sm btn-outline-secondary me-2"
                        type="button"
                    >
                        <h4>Formations passées</h4>
                    </button>
                </li>
                <li class="nav-item">
                    <button
                        (click)="selectMenu('in_process')"
                        class="btn btn-sm btn-outline-secondary me-2"
                        type="button"
                    >
                        <h4>Formations en cours</h4>
                    </button>
                </li>
                <li class="nav-item" *ngIf="hasRole(3)">
                  <button (click)="selectMenu('formation')" class="btn btn-sm btn-outline-secondary me-2" type="button">
                    <h4>Formations donnees</h4>
                  </button>
                </li>
                <li class="nav-item" *ngIf="hasRole(2)">
                    <button (click)="selectMenu('gestionnaire')" class="btn btn-sm btn-outline-secondary me-2" type="button">
                      <h4> formations données</h4>
                    </button>
                  </li>
                  <li class="nav-item" *ngIf="hasRole(1)">
                    <button (click)="selectMenu('admine')" class="btn btn-sm btn-outline-secondary me-2" type="button">
                      <h4> formations données</h4>
                    </button>
                  </li>

            </ul>
        </div>
    </nav>
  
    <div class="content">
        <div *ngIf="selectedMenu === 'future'" class="partie1">
            <h2 class="text-center mt-2 mb-5">Formations futur</h2>
            <div *ngFor="let formation of getFilteredFormations('future')">
                <p class="formation-item">
                    {{ formation.titre }}
                    <button class="btn btn-light annule-btn" type="button" (click)="deleteParticipant(formation.id_produit)">
                        Annuler
                    </button>
                </p>
                <br />
            </div>
            <div *ngIf="getFilteredFormations('future').length === 0" class="text-center">
                <p class="formation-item">Aucune formation future disponible.</p>
            </div>
        </div>
  
        <div *ngIf="selectedMenu === 'past'" class="partie1">
            <h2 class="text-center mt-2 mb-5">Formations passées</h2>
            <div *ngFor="let formation of getFilteredFormations('past')">
                <p class="formation-item">{{ formation.titre }}</p>
                <br />
            </div>
            <div *ngIf="getFilteredFormations('past').length === 0" class="text-center">
                <p class="formation-item">Aucune formation passée disponible.</p>
            </div>
        </div>
  
        <div *ngIf="selectedMenu === 'in_process'" class="partie1">
            <h2 class="text-center mt-2 mb-5">Formations en cours</h2>
            <div *ngFor="let formation of getFilteredFormations('in process')">
                <p class="formation-item">{{ formation.titre }}</p>
                <br />
            </div>
            <div *ngIf="getFilteredFormations('in process').length === 0" class="text-center">
                <p class="formation-item">Aucune formation en cours disponible.</p>
            </div>
        </div>
  
        <div *ngIf="selectedMenu === 'formation'" class="partie1">
            <h2 class="text-center mt-2 mb-5">formations données</h2>
            <div *ngFor="let formation of formations2">
                <p class="formation-item">{{ formation.titre }}</p>
                <br />
            </div>
            <div *ngIf="formations2.length === 0" class="text-center">
                <p class="formation-item">Aucune formation disponible.</p>
            </div>
        </div>

        <div *ngIf="selectedMenu === 'gestionnaire'" class="partie1">
            <h2 class="text-center mt-2 mb-5">formations données</h2>
            <div *ngFor="let formation of getFilteredFormationsByRole(2)">
              <p class="formation-item">{{ formation.titre }}</p>
              <br />
            </div>
            <div *ngIf="getFilteredFormationsByRole(2).length === 0" class="text-center">
              <p class="formation-item">Aucune données disponible.</p>
            </div>
          </div>
        
          <div *ngIf="selectedMenu === 'admine'" class="partie1">
            <h2 class="text-center mt-2 mb-5">formations données</h2>
            <div *ngFor="let formation of getFilteredFormationsByRole(1)">
              <p class="formation-item">{{ formation.titre }}</p>
              <br />
            </div>
            <div *ngIf="getFilteredFormationsByRole(1).length === 0" class="text-center">
              <p class="formation-item">Aucune données disponible.</p>
            </div>
          </div>
    </div>
  </body>