<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="voir-formations.component.css">
    <title>Vos Formations</title>
</head>
<body class="body">
  <br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light custom-nav">
    <div class="container d-flex">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <button (click)="selectMenu('leila')" class="btn btn-sm btn-outline-secondary me-2" type="button"><h4>Formations futurs</h4></button>
        </li>
        <li class="nav-item">
          <button (click)="selectMenu('hind')" class="btn btn-sm btn-outline-secondary me-2" type="button"><h4>Formations passees</h4></button>
        </li>
        <li class="nav-item">
          <button (click)="selectMenu('wafae')" class="btn btn-sm btn-outline-secondary me-2" type="button"><h4>Formation en cours</h4></button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content">
    <div *ngIf="selectedMenu === 'leila'" class="partie1">
      <h2 class="text-center mt-2">3 Formation futurs</h2>
    </div>
    <div *ngIf="selectedMenu === 'leila'" class="partie2">
      <p class="formation-item">-Formation en présentiel 
        <button class="btn btn-light annule-btn" type="button">annule</button>
      </p><br>
      <p class="formation-item">-Formation en présentiel 
        <button class="btn btn-light annule-btn" type="button">annule</button>
      </p><br>
      <p class="formation-item">-Formation en présentiel 
        <button class="btn btn-light annule-btn" type="button">annule</button>
      </p><br>
      <p class="formation-item">-Formation en présentiel 
        <button class="btn btn-light annule-btn" type="button">annule</button>
      </p><br>
      <p class="formation-item">-Formation en présentiel 
        <button class="btn btn-light annule-btn" type="button">annule</button>
      </p><br>
    </div>

    <div *ngIf="selectedMenu === 'hind'" class="partie1">
      <h2 class="text-center mt-2">3 Formation passees</h2>
    </div>
    <div *ngIf="selectedMenu === 'hind'" class="partie2">
      <p class="text-center">-Formations en e-learning </p><br>
      <p class="text-center">-Formations en e-learning </p><br>
      <p class="text-center">-Formations en e-learning </p><br>
      <p class="text-center">-Formations en e-learning </p><br>
      <p class="text-center">-Formations en e-learning </p><br>
    </div>

    <div *ngIf="selectedMenu === 'wafae'" class="partie1">
      <h2 class="text-center mt-2">3 Formation en cours</h2>
    </div>
    <div *ngIf="selectedMenu === 'wafae'" class="partie2">
      <p class="text-center">-Formations en blended-learning</p><br>
      <p class="text-center">-Formations en blended-learning</p><br>
      <p class="text-center">-Formations en blended-learning</p><br>
      <p class="text-center">-Formations en blended-learning</p><br>
      <p class="text-center">-Formations en blended-learning</p><br>
    </div>
  </div>
</body>
</html>
