header {
  text-align: center;
  background-color: #7a055b;
  margin-bottom: 20px;
  padding: 15px;
}
a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  color: #666;
  text-decoration: underline;
}




.gestionOption {
 
  background-color: #800860;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px 30px; /* Ajoute un espace intérieur aux boutons */
  margin: 5px; /* Marge autour des boutons */
  flex-basis: 8%; /* Largeur de chaq Marge à droite entre les boutons */
  width: 90%;
  text-align: center;
}

#gestionButonContenaire {
  vertical-align: middle;
  text-align: center;
  display: flex; /* Utilisation de flexbox pour organiser les éléments en ligne */
  flex-direction: column; /* Affiche les éléments en colonnes */
  height: 100vh; /* Utilisation de la hauteur totale de la vue pour le conteneur */
  align-items: center; /* Centre les éléments horizontalement */
  padding: 10px; /* Espace intérieur du conteneur */
 
}

.logoceref{
  width: 40 px;
  height: 40px;
}
ul li a {
  color: #1c1919; /* Couleur du texte */
  text-decoration: none; /* Pas de soulignement */
}

a:hover {
  background-color: #7a055b; /* Couleur de fond au survol */
}



.menu{
  
    text-align: center;
    background-color: #7a055b;
    margin-bottom: 20px;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  
}










/* responsive menu*/

@media screen  and (max-width: 1024px)
{

 header{
  width: 100%;
 }

 nav
 {
     width: 100%;
     text-align: left;
 }
 
 .menu{
  position: fixed;
}
 





}