
<header class="menu">

<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
    <a class="navbar-brand" routerLink="acceuil"><img class="logoceref" src="assets/ceref-logo.png" alt="logo"></a>
    <ul class="nav nav-pills">
     


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-table-list"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li class="nav-item">
            <a class="nav-link"   data-bs-toggle="offcanvas" routerLink="/inscription-formation" ><i class="fa-solid fa-plus"></i> Formation </a> <!-- Mettre la route vers component adequat -->
          </li>

          <li class="nav-item">
            <a class="nav-link"   data-bs-toggle="offcanvas" routerLink="/voir-formations" ><i class="fa-regular fa-eye"></i> Formations</a><!-- Mettre la route vers component adequat -->
          </li>

                                                    <!-- Attention Ici bas modif pour -->
            <li class="nav-item" *ngIf="connectedUser?.id_role == null || connectedUser?.id_role== 2"> <!-- permet d'avoir le user connecter et son role et afficher l'option gestion -->
            <a class="nav-link"   data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fa-solid fa-gear"></i> Gestion</a>
          </li>
        </ul>
        
    </li>

      <li class="nav-item">
        <a class="nav-link"  title="Profil"  routerLink="/voir-profil"><i class="fa-solid fa-user"></i></a> <!-- Mettre la route vers component adequat -->
      </li>
      
     
      <li class="nav-item">
        <a class="nav-link" ><i class="fa-solid fa-right-from-bracket"></i></a> <!-- Mettre la methode pour deco -->
      </li>

     
    



      
      
     
    </ul>
  </nav>
</header>



        
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel"><h3>Gestion de l'application</h3></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      
    <div id="gestionButonContenaire">
      <div class="gestionOption" routerLink="/gestionutilisateurs">Gestion des clients</div>
      <div class="gestionOption" routerLink="/gestionformateurs">Gestion de formateurs</div>
      <div class="gestionOption" routerLink="/gestionformations">Gestion de Formations</div>    
      <div class="gestionOption" routerLink="/gestioninstitutions">Gestion de Institutions</div>
      <div class="gestionOption" routerLink="/gestionadresses">Gestion d'adresses</div>
      <div class="gestionOption" routerLink="/gestionlieux">Gestion des lieux</div>
      <div class="gestionOption" routerLink="/gestionimages">Gestion d'images</div>
       <!-- option admin a cachez plus tard en fcn du role -->
      <div *ngIf="connectedUser?.id_role == null" class="gestionOption" routerLink="/gestionRole">Gestion des roles</div><!-- permet d'afficher l'option gestion role aux Admin -->
      <button *ngIf="connectedUser?.id_role == null" class="gestionOption" (click)="exportDb()">Sauvegarde des données</button> <!-- permet d'afficher l'option effectuer des sauv aux Admin -->
       <br><br><br>
      
       <p>Cher gestionnaire /admin,<br>
        Nous vous rappelons que 
        votre rôle est essentiel pour cette application. Chaque action compte, car souvent, il n'y a pas de marche arrière possible.
        
        Votre jugement et votre attention sont précieux. Nous comptons sur votre expertise pour contribuer positivement à vos opérations.
        <br>
        GRP3</p>
    </div>
   

 </div>
  </div>






  
 
<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToastSuccess" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success">
        {{ successMessage }}
      </div>
    </div>
  </div>
  <div id="liveToastError" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">      
      <div class="alert alert-danger">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>

      
  

