
<div class="body"   *ngIf="!showAddUserForm && !showUpdateUserForm">

  <div  *ngIf="!selectedUser || !userDetailVisible[selectedUser.id_utilisateur]" class="usercard" >
    <div id="searchButton2" >   <h2>Liste des formateurs</h2>  Total: {{totalUsers}}</div>

    <div class="contenaireHautPage">
      <div> <button id="searchButton" (click)="toggleAddUserForm()"><i class="fa-solid fa-user-plus"></i></button></div>
      <div> <!-- Formulaire de recherche -->
        <form (ngSubmit)="searchUsersByname(searchTerm)" class="search-container" #searchForm="ngForm">
        <input id="searchInput" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Rechercher par nom..." />
        <button id="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        </div>
      
    </div>

     <!-- Tableau des utilisateurs -->
     <table class="table table-striped mt-3" *ngIf="!(showSearchResults && ( formateurs | async)?.length)">
     <thead>
      <tr>
        <th>Civilité</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th class="affichage">Email</th>
        <th>Téléphone</th>
      </tr>
     </thead>
      <tbody>
      <!-- Utilisation de la directive *ngFor pour itérer sur les utilisateurs -->
      <tr *ngFor="let user of  formateurs | async">
        <td>{{ user.civilite }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td class="affichage">{{ user.email }}</td>
        <td>{{ user.gsm }}</td>
        <td>
         <button  (click)="selectUser(user.id_utilisateur)"><i class="fa-solid fa-eye"></i></button>
         <button (click)="toggleUpdateUserForm(user)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button id="searchButton" (click)="deleteUser(user.id_utilisateur)"><i class="fa-solid fa-trash"></i></button>
          
        </td>
      </tr>
     </tbody>
      </table>



  



  
      <!-- Section des résultats de recherche -->
    <div  *ngIf="showSearchResults && ( formateurs2 | async)?.length">
     <table class="table table-striped mt-3">
      <thead>
      <tr>
        <th>Civilité</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th class="affichage">Email</th>
        <th>Téléphone</th>
      </tr>
     </thead>
     <tbody>
      
      <tr *ngFor="let user of  formateurs2 | async">
        <td>{{ user.civilite }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td class="affichage">{{ user.email }}</td>
        <td>{{ user.gsm }}</td>
        <td>
          <button (click)="selectUser(user.id_utilisateur)"><i class="fa-solid fa-eye"></i></button>
          <button (click)="toggleUpdateUserForm(user)"><i class="fa-solid fa-pen-to-square"></i></button>
           <button id="searchButton" (click)="deleteUser(user.id_utilisateur)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
      </tbody>
      </table>
    </div>




  <!-- Pagination -->

  
     <div class="button-container">
       <button id="searchButton" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-circle-chevron-left"></i></button>
       <button id="searchButton" (click)="nextPage()"><i class="fa-solid fa-circle-chevron-right"></i></button>
     </div>
  </div>


  <!-- Section des détails du client sélectionné -->
  <div *ngIf="selectedUser && userDetailVisible[selectedUser.id_utilisateur]" class="detailView">
 

  <h3>Details</h3>
    <div class="card mb-3" style="max-width: 1040px;">
      <div class="row g-0">
       <div class="col-md-4">
        <img src="/assets/avatar.jpg" class="img-fluid rounded-start" alt="Logo avatar">
       </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ selectedUser.nom  }}</h5>
          <p class="card-text"> 
            <p>Civilité: {{ selectedUser.civilite }}</p>
            <p>Prénom: {{ selectedUser.prenom }}</p>
            <p>Email: {{ selectedUser.email }}</p>
            <p>Tel: {{ selectedUser.gsm }}</p>
            <p>Adresse: {{ selectedUser.adresse?.rue_numero }} {{ selectedUser.adresse?.code_postal }}, {{ selectedUser.adresse?.pays }}</p>
            <p>Institution: {{ selectedUser.institution?.nom }}</p>
            <p>Role: {{ selectedUser.role?.nom }}</p>
            <p>TVA: {{ selectedUser.TVA }}</p>
            <p>Email Pro: {{ selectedUser.email_pro }}</p>
            <p>Gsm Pro: {{ selectedUser.gsm_pro }}</p>
            <p>Profession: {{ selectedUser.profession }}
            
          
  
          <p class="card-text"><small class="text-body-secondary"> <p>Profession: {{ selectedUser.profession }}</p></small></p>
        </div>
      </div>
    </div>



    </div>
    <button id="searchButton" (click)="toggleDetails(selectedUser)">
      {{ userDetailVisible[selectedUser.id_utilisateur] ? 'Masquer Détails' : 'Afficher Détails' }}
    </button>



  </div>
</div>










<!-- Gestion  form ajout de formation -->
<div class="usercard2"  *ngIf="showAddUserForm" >
<h2>Ajout formateur</h2>
  <button id="searchButton" (click)="toggleAddUserForm()">Retour</button>

  
  <form >
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col form-floating mb-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="civilite" placeholder="civilite" [(ngModel)]="user.civilite" name="civilite" autofocus required>
          <label for="civilite">civilite</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nom"  [(ngModel)]="user.nom" name="nom" autofocus required>
          <label for="nom">nom</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="prenom" [(ngModel)]="user.prenom" name="prenom" autofocus required>
          <label for="prenom">prenom</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="email" [(ngModel)]="user.email" name="email" autofocus required>
          <label for="email">email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="mot_de_passe" placeholder="mot_de_passe" [(ngModel)]="user.mot_de_passe" name="mot_de_passe" autofocus required>
          <label for="mot_de_passe">MDP</label>
        </div>
        <div class="form-floating mb-3">
          <input type="tel" class="form-control" id="gsm" placeholder="gsm" [(ngModel)]="user.gsm" name="gsm" autofocus required>
          <label for="gsm">Numero</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="TVA" placeholder="TVA" [(ngModel)]="user.TVA" name="TVA" autofocus required>
          <label for="TVA">TVA</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="profession" placeholder="profession" [(ngModel)]="user.profession" name="profession" autofocus required>
          <label for="profession">profession</label>
        </div>
        <div class="form-floating mb-3">
          <input type="tel" class="form-control" id="gsm_pro" placeholder="gsm_pro" [(ngModel)]="user.gsm_pro" name="gsm_pro" autofocus required>
          <label for="gsm_pro">gsm_pro</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email_pro" placeholder="email_pro" [(ngModel)]="user.email_pro" name="email_pro" autofocus required>
          <label for="email_pro">email_pro</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number"  class="form-control" id="id_adresse" placeholder="id_adresse" [(ngModel)]="user.id_adresse" name="id_adresse" autofocus required>
          <label for="id_adresse">id_adresse</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="id_institution" placeholder="id_institution" [(ngModel)]="user.id_institution" name="id_institution" autofocus required>
          <label for="id_institution">id_institution</label>
        </div>
       
    
        <div class="align-right">
          <button type="submit" id="searchButton" (click)="addUser(user)"   (click)="toggleAddUserForm()">Ajouter</button>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </form>
  

</div>










<!-- Gestion  Update  instit -->
<div class="usercard2"    *ngIf="showUpdateUserForm" >

 


  <div class="update-form" *ngIf="UserToUpdate" >
    <h2>Modifier formateur</h2>
    <button id="searchButton" (click)="toggleAddUserForm()">Retour</button>

    <form (ngSubmit)="updateUser(UserToUpdate)" #updateForm="ngForm">
      <div class="form-group">
        <label for="civilite">civilite</label>
        <input type="text" class="form-control" id="civilite" placeholder="civilite" [(ngModel)]="UserToUpdate.civilite" name="civilite" autofocus required>
      </div>
      <div class="form-group">
        <label for="nom">nom</label>
        <input type="text" class="form-control" id="nom"  [(ngModel)]="UserToUpdate.nom" name="nom" autofocus required>
      </div>
      <div class="form-group">
        <label for="prenom">prenom</label>
        <input type="text" class="form-control" id="prenom" [(ngModel)]="UserToUpdate.prenom" name="prenom" autofocus required>

      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email"  [(ngModel)]="UserToUpdate.email" name="email" autofocus required>
      </div>
      <div class="form-group">
        <label for="gsm">Numero</label>
        <input type="tel" class="form-control" id="gsm" [(ngModel)]="UserToUpdate.gsm" name="gsm" autofocus required>
      </div>
      <div class="form-group">
        <label for="TVA">TVA</label>
        <input type="text" class="form-control" id="TVA"  [(ngModel)]="UserToUpdate.TVA" name="TVA" autofocus required>
      </div>
      <div class="form-group">
        <label for="profession">profession</label>
        <input type="text" class="form-control" id="profession"  [(ngModel)]="UserToUpdate.profession" name="profession" autofocus required>
      </div>
      <div class="form-group">
        <label for="gsm_pro">gsm_pro</label>
        <input type="text" class="form-control" id="gsm_pro" [(ngModel)]="UserToUpdate.gsm_pro" name="gsm_pro" autofocus required>
      </div>
      <div class="form-group">
        <label for="email_pro">email_pro</label>
        <input type="text" class="form-control" id="email_pro"  [(ngModel)]="UserToUpdate.email_pro" name="email_pro" autofocus required>
      </div>
      <div class="form-group">
        <label for="id_adresse">id_adresse</label>
        <input type="number"  class="form-control" id="id_adresse"  [(ngModel)]="UserToUpdate.id_adresse" name="id_adresse" autofocus required>
      </div>
      <div class="form-group">
        <label for="id_institution">id_institution</label>
        <input type="number" class="form-control" id="id_institution"  [(ngModel)]="UserToUpdate.id_institution" name="id_institution" autofocus required>
      </div>
      <button type="submit" id="searchButton" >Enregistrer</button>
    </form>
  </div>
  
  

</div>




<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToastSucce" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success">
        {{ successMessage }}
      </div>
    </div>
  </div>
  <div id="liveToastErrore" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">      
      <div class="alert alert-danger">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>



