<h2>Liste des clients</h2>

<div class="usercard">
  <button class="buttonadd"><i class="fa-solid fa-user-plus"></i></button>

  <!-- Formulaire de recherche -->
  <form (ngSubmit)="searchUsersByname(searchTerm)" class="search-container" #searchForm="ngForm">
    <input id="searchInput" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Rechercher par nom..." />
    <button id="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <!-- Tableau des utilisateurs -->
  <table class="table table-striped mt-3" *ngIf="!(showSearchResults && (users | async)?.length)">
    <thead>
      <tr>
        <th>Civilité</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
      </tr>
    </thead>
    <tbody>
      <!-- Utilisation de la directive *ngFor pour itérer sur les utilisateurs -->
      <tr *ngFor="let user of users | async">
        <td>{{ user.civilite }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.gsm }}</td>
        <td>
         <button (click)="selectUser(user.id_utilisateur)"><i class="fa-solid fa-eye"></i></button>
          <button (click)="updateUser(user)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button class="--bs-dark-bg-subtle" (click)="deleteUser(user.id_utilisateur)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>




  
<!-- Section des résultats de recherche -->
<div  *ngIf="showSearchResults && (users2 | async)?.length">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Civilité</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let user of users2 | async">
        <td>{{ user.civilite }}</td>
        <td>{{ user.nom }}</td>
        <td>{{ user.prenom }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.gsm }}</td>
        <td>
          <button (click)="selectUser(user.id_utilisateur)"><i class="fa-solid fa-eye"></i></button>
          <button (click)="updateUser(user)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button class="--bs-dark-bg-subtle" (click)="deleteUser(user.id_utilisateur)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




  <!-- Pagination -->
  <button id="searchButton" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-circle-chevron-left"></i></button>
  <button id="searchButton" (click)="nextPage()"><i class="fa-solid fa-circle-chevron-right"></i></button>
</div>


<!-- Section des détails du client sélectionné -->
<div *ngIf="selectedUser && userDetailVisible[selectedUser.id_utilisateur]" class="usercard">
 
  <div class="card mb-3" style="max-width: 940px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/avatar.jpg" class="img-fluid rounded-start" alt="Logo avatar">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ selectedUser.nom  }}</h5>
          <p class="card-text"> 
          <p>Civilité: {{ selectedUser.civilite }}</p>
          <p>Prénom: {{ selectedUser.prenom }}</p>
          <p>Email: {{ selectedUser.email }}</p>
          <p>Tel: {{ selectedUser.gsm }}</p>
          <p>Adresse: {{ selectedUser.id_adresse }}</p>
          <p>Institution: {{ selectedUser.id_institution }}</p>
          <p>TVA: {{ selectedUser.TVA }}</p>
          <p>Email Pro: {{ selectedUser.email_pro }}</p>
          <p>Gsm Pro: {{ selectedUser.gsm_pro }}</p>
          <p>Profession: {{ selectedUser.profession }}
          
  
          <p class="card-text"><small class="text-body-secondary"> N° {{ selectedUser.id_utilisateur }}</small></p>
        </div>
      </div>
    </div>
 
</div>
<button id="searchButton" (click)="toggleDetails(selectedUser)">
  {{ userDetailVisible[selectedUser.id_utilisateur] ? 'Masquer Détails' : 'Afficher Détails' }}
</button>





