<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Utilisateur</title>
    <link rel="stylesheet" href="voir-profil.component.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-section">
            <h2>Mes données personnelles :</h2>
            <p><strong>Nom:</strong> <span id="nom">Michel</span></p>
            <p><strong>Prénom:</strong> <span id="prenom">Dumas</span></p>
            <p><strong>Email:</strong> <span id="email">michelduma.64gmail.com</span></p>
            <p><strong>Téléphone:</strong> <span id="telephone">0471920245</span></p>
            <p><strong>Civilité:</strong> <span id="civilite">M.</span></p>
            <p><strong>Profession:</strong> <span id="profession">Infirmier</span></p>
            <p><strong>Biographie:</strong> <span id="bio">Michel Dumas est un infirmier...</span></p>
            <p><strong>Adresse:</strong> <span id="adresse">Rue des camélias 4</span></p>
            <p><strong>Code postal:</strong> <span id="codePostal">5600</span></p>
            <p><strong>Localité:</strong> <span id="localite">Philippeville</span></p>
            <p><strong>Pays:</strong> <span id="pays">Belgique</span></p>
        </div>
        <div class="profile-section">
            <h2>Mes données professionnelles :</h2>
            <p><strong>Email:</strong> <span id="emailPro">michelpro.ghql.be</span></p>
            <p><strong>Téléphone:</strong> <span id="telephonePro">0489654836</span></p>
        </div>
        <div class="edit-button-container">
            <button type="button">Éditer le profil</button>
        </div>
    </div>
</body>
</html>
