

<div class="body"  *ngIf="!showAddAdresseForm && !showUpdateAdresseForm" >

<div  *ngIf="!selectedAdresse || !userDetailVisible[selectedAdresse.id_adresse]" class="usercard">
  <h2>Liste des adresses</h2>
  <button id="searchButton" (click)="toggleAddAdresseForm()" >Ajouter une adresse</button>

  <!-- Formulaire de recherche -->
  <form (ngSubmit)="searchAdresseByname(searchTerm)" class="search-container" #searchForm="ngForm">
    <input id="searchInput" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Entrez un code postal..." />
    <button id="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <!-- Tableau des utilisateurs -->
  <table class="table table-striped mt-3" *ngIf="!(showSearchResults && ( Adresses | async)?.length)">
    <thead>
      <tr>
        <th>Rue</th>
        <th>localite</th>
        <th>Code postal</th>
      </tr>
    </thead>
    <tbody>
      <!-- Utilisation de la directive *ngFor pour itérer sur les utilisateurs -->
       
      <tr *ngFor="let adresse of  Adresses | async">
        <td>{{ adresse.rue_numero }}</td>
        <td>{{ adresse.localite }}</td>
        <td>{{ adresse.code_postal }}</td>
        <td>
            <button (click)="selectAdresse(adresse.id_adresse)"><i class="fa-solid fa-eye"></i></button>
            <button (click)="toggleUpdateAdresseForm(adresse)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button id="searchButton" (click)="deleteAdresse(adresse.id_adresse)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>


  
<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>


  
  <!-- Section des résultats de recherche -->
  <div  *ngIf="showSearchResults && ( Adresses2 | async)?.length">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Rue</th>
        <th>localite</th>
        <th>Code postal</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let adresse of  Adresses2 | async">
        <td>{{ adresse.rue_numero }}</td>
        <td>{{ adresse.localite }}</td>
        <td>{{ adresse.code_postal }}</td>
        <td>
          <button (click)="selectAdresse(adresse.id_adresse)"><i class="fa-solid fa-eye"></i></button>
          <button (click)="toggleUpdateAdresseForm(adresse)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button id="searchButton" (click)="deleteAdresse(adresse.id_adresse)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
   </table>
   </div>




  <!-- Pagination -->
 
      <div class="button-container">
         <button id="searchButton" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-circle-chevron-left"></i></button>
         <button id="searchButton" (click)="nextPage()"><i class="fa-solid fa-circle-chevron-right"></i></button>
       </div>
</div>


<!-- Section des détails du client sélectionné -->
<div *ngIf="selectedAdresse && userDetailVisible[selectedAdresse.id_adresse]" class="detailView">

   <h3>Details</h3>
<div class="card mb-3" style="max-width: 1040px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/location.png" class="img-fluid rounded-start" alt="Logo ">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ selectedAdresse.rue_numero }}</h5>
        <p class="card-text"> 
          <p>Code postal: {{ selectedAdresse.code_postal }}</p>
          <p>Localité: {{ selectedAdresse.localite }}</p>
          <p>Pays: {{ selectedAdresse.pays }}</p>
         
      
        <p class="card-text"><small class="text-body-secondary"> <p>N° {{ selectedAdresse.id_adresse }}</p></small></p>
      </div>
    </div>
  </div>

</div>

<button id="searchButton" (click)="toggleDetails(selectedAdresse)">
  {{ userDetailVisible[selectedAdresse.id_adresse] ? 'Masquer Détails' : 'Afficher Détails' }}
</button>
</div>



</div>




<!-- Gestion  form ajout   d'une nouvelle adresse -->
<div class="usercard2"  *ngIf="showAddAdresseForm" >

  <button id="searchButton" (click)="toggleAddAdresseForm()">Retour</button>

  
  <form >
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col form-floating mb-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="rue_numero" placeholder="Nom" [(ngModel)]="adresse.rue_numero" name="rue_numero" autofocus required>
          <label for="logo">rue & numero</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="code_postal"  [(ngModel)]="adresse.code_postal" name="code_postal">
          <label for="logo">Code postal</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="localite" [(ngModel)]="adresse.localite" name="localite">
          <label for="logo">localite</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="pays" [(ngModel)]="adresse.pays" name="pays">
          <label for="logo">Pays</label>
        </div>
    
        <div class="align-right">
          <button type="submit" id="searchButton" (click)="addAdresse(adresse)">Ajouter</button>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </form>


<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
</div>





<!-- Gestion  Update  adresse -->
<div class="usercard2"    *ngIf="showUpdateAdresseForm" >

 

  <div class="update-form" *ngIf="AdresseToUpdate" >
    <h2>Modifier Institution</h2>
    <button id="searchButton" (click)="toggleAddAdresseForm()">Retour</button>

    <form (ngSubmit)="updateAdresse(AdresseToUpdate)" #updateForm="ngForm">
      <div class="form-group">
        <label for="name">Rue & numero :</label>
        <input type="text" class="form-control" id="rue_numero" name="rue_numero" [(ngModel)]="AdresseToUpdate.rue_numero" required>
      </div>
      <div class="form-group">
        <label for="logo">CP :</label>
        <input type="number" class="form-control" id="code_postal" name="code_postal" [(ngModel)]="AdresseToUpdate.code_postal" required>
      </div>
      <div class="form-group">
        <label for="idAdresse">Localité :</label>
        <input type="text" class="form-control" id="localite" name="localite" [(ngModel)]="AdresseToUpdate.localite" required>
      </div>
      <div class="form-group">
        <label for="idAdresse">Pays :</label>
        <input type="text" class="form-control" id="pays" name="pays" [(ngModel)]="AdresseToUpdate.pays" required>
      </div>
      <button type="submit" id="searchButton" >Enregistrer</button>
    </form>
  </div>
  
  



<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
</div>





