

<div class="body"    *ngIf="!showAddLieuForm && !showUpdateLieuForm" >


<div   *ngIf="!selectedLieu || !userDetailVisible[selectedLieu.id_lieu]" >
  <div id="searchButton2" >   <h2>Liste des lieux</h2>  Total: {{totalUsers}}</div>
  <div class="contenaireHautPage">
      <div>  <button id="searchButton" (click)="toggleAddLieuForm()">Ajouter lieu</button>
      </div>
      <div> <!-- Formulaire de recherche -->
       <form (ngSubmit)="searchLieuByname(searchTerm)" class="search-container" #searchForm="ngForm">
        <input id="searchInput" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Rechercher par nom..." />
        <button id="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
       </form></div>
    </div>
  <!-- Tableau des utilisateurs -->
  <table class="table table-striped mt-3" *ngIf="!(showSearchResults && ( lieux | async)?.length)">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Batiment</th>
        <th>Local</th>
        <th>Propriétaire</th>
      </tr>
    </thead>
    <tbody>
      <!-- Utilisation de la directive *ngFor pour itérer sur les utilisateurs -->
       
      <tr *ngFor="let lieu of  lieux | async">
        <td>{{ lieu.nom }}</td>
        <td>{{ lieu.batiment }}</td>
        <td>{{ lieu.locaux }}</td>
        <td>{{ lieu.institution?.nom }}</td>
        <td>
          <button id="searchButton2" (click)="selectLieu(lieu.id_lieu)"><i class="fa-solid fa-eye"></i></button>
          <button id="searchButton2" (click)="toggleUpdateLieuForm(lieu)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button id="searchButton" (click)="deleteLieu(lieu.id_lieu)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>



 

  
<!-- Section des résultats de recherche -->
<div  *ngIf="showSearchResults && ( lieux2 | async)?.length">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Batiment</th>
        <th>Local</th>
        <th>Propriétaire</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let lieu of  lieux2 | async">
        <td>{{ lieu.nom }}</td>
        <td>{{ lieu.batiment }}</td>
        <td>{{ lieu.locaux }}</td>
        <td>{{ lieu.institution?.nom }}</td>
        <td>
          <button id="searchButton2" (click)="selectLieu(lieu.id_lieu)"><i class="fa-solid fa-eye"></i></button>
          <button id="searchButton2" (click)="toggleUpdateLieuForm(lieu)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button id="searchButton" (click)="deleteLieu(lieu.id_lieu)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




  <!-- Pagination -->
 
  <div class="button-container">
    <button id="searchButton" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-circle-chevron-left"></i></button>
    <button id="searchButton" (click)="nextPage()"><i class="fa-solid fa-circle-chevron-right"></i></button>
  </div></div>


<!-- Section des détails du client sélectionné -->
<div *ngIf="selectedLieu && userDetailVisible[selectedLieu.id_lieu]" class="detailView">
 

  
<div class="card mb-3" style="max-width: 940px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/batiment.png" class="img-fluid rounded-start" alt="Logo ">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ selectedLieu.nom }}</h5>
        <p class="card-text"> 
          <p>Batiment: {{ selectedLieu.batiment }}</p>
          <p>Local: {{ selectedLieu.locaux }}</p>
          <p>Adresse: {{ selectedLieu.adresse?.rue_numero }} {{ selectedLieu.adresse?.code_postal }}</p>
          <p>Appartient à : {{ selectedLieu.institution?.nom}}</p>
      
        <p class="card-text"><small class="text-body-secondary"> <p>N° {{ selectedLieu.id_lieu }}</p></small></p>
      </div>
    </div>
  </div>

</div>

<button id="searchButton" (click)="toggleDetails(selectedLieu)">
  {{ userDetailVisible[selectedLieu.id_lieu] ? 'Masquer Détails' : 'Afficher Détails' }}
</button>
</div>



</div>








<!-- Gestion  form ajout   d'une nouvelle lieu -->
<div class="usercard2"  *ngIf="showAddLieuForm" >
  <h2>Ajout lieu</h2>
  <button id="searchButton" (click)="toggleAddLieuForm()">Retour</button>

  <form (ngSubmit)="addLieu(lieu)" class="mt-3">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nom" placeholder="Nom" [(ngModel)]="lieu.nom" name="nom" autofocus required>
          <label for="nom">Nom</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="batiment" placeholder="Batiment" [(ngModel)]="lieu.batiment" name="batiment">
          <label for="batiment">Batiment</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="locaux" placeholder="Locaux" [(ngModel)]="lieu.locaux" name="locaux">
          <label for="locaux">Locaux</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="id_institution" placeholder="Code institution" [(ngModel)]="lieu.id_institution" name="id_institution">
          <label for="id_institution">Code institution</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="id_adresse" placeholder="Code Adresse" [(ngModel)]="lieu.id_adresse" name="id_adresse">
          <label for="id_adresse">Code Adresse</label>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary" id="searchButton">Ajouter</button>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </form>
  


<!-- Gestion notif-->

</div>





<!-- Gestion  Update  lieu -->
<div class="usercard2"    *ngIf="showUpdateLieuForm" >

 

  <div class="update-form" *ngIf="LieuToUpdate" >
    <h2>Modifier lieu</h2>
    <button id="searchButton" (click)="toggleAddLieuForm()">Retour</button>

    <form (ngSubmit)="updateLieu(LieuToUpdate)" #updateForm="ngForm">
      <div class="form-group">
        <label for="rue_numero">Nom :</label>
        <input type="text" class="form-control" id="rue_numero" name="rue_numero" [(ngModel)]="LieuToUpdate.nom" required>
      </div>
      <div class="form-group">
        <label for="batiment">Batiment :</label>
        <input type="text" class="form-control" id="batiment" name="batiment" [(ngModel)]="LieuToUpdate.batiment" required>
      </div>
      <div class="form-group">
        <label for="locaux">Locale :</label>
        <input type="text" class="form-control" id="locaux" name="locaux" [(ngModel)]="LieuToUpdate.locaux" required>
      </div>
      <div class="form-group">
        <label for="id_institution">code institution :</label>
        <input type="number" class="form-control" id="id_institution" name="id_institution" [(ngModel)]="LieuToUpdate.id_institution" autofocus required>
      </div>
      <div class="form-group">
        <label for="id_adresse">code adresse :</label>
        <input type="number" class="form-control" id="id_adresse" name="id_adresse" [(ngModel)]="LieuToUpdate.id_adresse" autofocus required>
      </div>
      <button type="submit" id="searchButton" >Enregistrer</button>
    </form>
  </div>
  
  



<!-- Gestion notif-->

</div>




<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToastSuccessl" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success">
        {{ successMessage }}
      </div>
    </div>
  </div>
  <div id="liveToastErrorl" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">      
      <div class="alert alert-danger">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>

