

<div class="body"    *ngIf="!showAddLieuForm && !showUpdateLieuForm" >


<div class="usercard"  *ngIf="!selectedLieu || !userDetailVisible[selectedLieu.id_lieu]" >
  <h2>Liste des lieux</h2>
  <button id="searchButton" (click)="toggleAddLieuForm()">Ajouter lieu</button>

  <!-- Formulaire de recherche -->
  <form (ngSubmit)="searchLieuByname(searchTerm)" class="search-container" #searchForm="ngForm">
    <input id="searchInput" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Rechercher par nom..." />
    <button id="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <!-- Tableau des utilisateurs -->
  <table class="table table-striped mt-3" *ngIf="!(showSearchResults && ( lieux | async)?.length)">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Batiment</th>
        <th>Local</th>
      </tr>
    </thead>
    <tbody>
      <!-- Utilisation de la directive *ngFor pour itérer sur les utilisateurs -->
       
      <tr *ngFor="let lieu of  lieux | async">
        <td>{{ lieu.nom }}</td>
        <td>{{ lieu.batiment }}</td>
        <td>{{ lieu.locaux }}</td>
        <td>
          <button (click)="selectLieu(lieu.id_lieu)"><i class="fa-solid fa-eye"></i></button>
          <button (click)="toggleUpdateLieuForm(lieu)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button id="searchButton" (click)="deleteLieu(lieu.id_lieu)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>



  
<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>


  
<!-- Section des résultats de recherche -->
<div  *ngIf="showSearchResults && ( lieux2 | async)?.length">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Batiment</th>
        <th>Local</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let lieu of  lieux2 | async">
        <td>{{ lieu.nom }}</td>
        <td>{{ lieu.batiment }}</td>
        <td>{{ lieu.locaux }}</td>
        <td>
          <button (click)="selectLieu(lieu.id_lieu)"><i class="fa-solid fa-eye"></i></button>
          <button (click)="toggleUpdateLieuForm(lieu)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button id="searchButton" (click)="deleteLieu(lieu.id_lieu)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




  <!-- Pagination -->
 
  <div class="button-container">
    <button id="searchButton" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-circle-chevron-left"></i></button>
    <button id="searchButton" (click)="nextPage()"><i class="fa-solid fa-circle-chevron-right"></i></button>
  </div></div>


<!-- Section des détails du client sélectionné -->
<div *ngIf="selectedLieu && userDetailVisible[selectedLieu.id_lieu]" class="detailView">
 

  
<div class="card mb-3" style="max-width: 940px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/batiment.png" class="img-fluid rounded-start" alt="Logo ">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ selectedLieu.nom }}</h5>
        <p class="card-text"> 
          <p>Batiment: {{ selectedLieu.batiment }}</p>
          <p>Local: {{ selectedLieu.locaux }}</p>
          <p>Adresse: {{ selectedLieu.adresse?.rue_numero }} {{ selectedLieu.adresse?.code_postal }}</p>
          <p>Appartient à : {{ selectedLieu.institution?.nom}}</p>
      
        <p class="card-text"><small class="text-body-secondary"> <p>N° {{ selectedLieu.id_lieu }}</p></small></p>
      </div>
    </div>
  </div>

</div>

<button id="searchButton" (click)="toggleDetails(selectedLieu)">
  {{ userDetailVisible[selectedLieu.id_lieu] ? 'Masquer Détails' : 'Afficher Détails' }}
</button>
</div>



</div>








<!-- Gestion  form ajout   d'une nouvelle lieu -->
<div class="usercard2"  *ngIf="showAddLieuForm" >

  <button id="searchButton" (click)="toggleAddLieuForm()">Retour</button>

  
  <form >
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col form-floating mb-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" placeholder="Nom" [(ngModel)]="lieu.nom" name="nom" autofocus required>
          <label for="logo">Nom</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="batiment"  [(ngModel)]="lieu.batiment" name="batiment">
          <label for="logo">Batimant</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="locaux" [(ngModel)]="lieu.locaux" name="locaux">
          <label for="logo">locale</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number"  class="form-control" id="id_institution" [(ngModel)]="lieu.id_institution" name="id_institution">
          <label for="logo">code institution</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="id_adresse" [(ngModel)]="lieu.id_adresse" name="id_adresse">
          <label for="logo">code Adresse</label>
        </div>
    
        <div class="align-right">
          <button type="submit" id="searchButton" (click)="addLieu(lieu)">Ajouter</button>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </form>


<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
</div>





<!-- Gestion  Update  lieu -->
<div class="usercard2"    *ngIf="showUpdateLieuForm" >

 

  <div class="update-form" *ngIf="LieuToUpdate" >
    <h2>Modifier Lieu</h2>
    <button id="searchButton" (click)="toggleAddLieuForm()">Retour</button>

    <form (ngSubmit)="updateLieu(LieuToUpdate)" #updateForm="ngForm">
      <div class="form-group">
        <label for="name">Nom :</label>
        <input type="text" class="form-control" id="rue_numero" name="rue_numero" [(ngModel)]="LieuToUpdate.nom" required>
      </div>
      <div class="form-group">
        <label for="logo">Batiment :</label>
        <input type="text" class="form-control" id="batiment" name="batiment" [(ngModel)]="LieuToUpdate.batiment" required>
      </div>
      <div class="form-group">
        <label for="idLieu">Locale :</label>
        <input type="text" class="form-control" id="locaux" name="locaux" [(ngModel)]="LieuToUpdate.locaux" required>
      </div>
      <div class="form-group">
        <label for="idLieu">code institution :</label>
        <input type="number" class="form-control" id="id_institution" name="id_institution" [(ngModel)]="LieuToUpdate.id_institution" required>
      </div>
      <div class="form-group">
        <label for="idLieu">code adresse :</label>
        <input type="number" class="form-control" id="id_adresse" name="id_adresse" [(ngModel)]="LieuToUpdate.id_adresse" required>
      </div>
      <button type="submit" id="searchButton" >Enregistrer</button>
    </form>
  </div>
  
  



<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
</div>





