<h2>Liste des lieux</h2>

<div class="usercard">
  <button class="buttonadd">Ajouter lieu</button>

  <!-- Formulaire de recherche -->
  <form (ngSubmit)="searchLieuByname(searchTerm)" class="search-container" #searchForm="ngForm">
    <input id="searchInput" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Rechercher par nom..." />
    <button id="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>

  <!-- Tableau des utilisateurs -->
  <table class="table table-striped mt-3" *ngIf="!(showSearchResults && ( lieux | async)?.length)">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Batiment</th>
        <th>Local</th>
      </tr>
    </thead>
    <tbody>
      <!-- Utilisation de la directive *ngFor pour itérer sur les utilisateurs -->
       
      <tr *ngFor="let lieu of  lieux | async">
        <td>{{ lieu.nom }}</td>
        <td>{{ lieu.batiment }}</td>
        <td>{{ lieu.locaux }}</td>
        <td>
          <button (click)="selectLieu(lieu.id_lieu)"><i class="fa-solid fa-eye"></i></button>
          <button (click)="updateLieu(lieu)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button (click)="deleteLieu(lieu.id_lieu)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>




  
<!-- Section des résultats de recherche -->
<div  *ngIf="showSearchResults && ( lieux2 | async)?.length">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Batiment</th>
        <th>Local</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let lieu of  lieux2 | async">
        <td>{{ lieu.nom }}</td>
        <td>{{ lieu.batiment }}</td>
        <td>{{ lieu.locaux }}</td>
        <td>
          <button (click)="selectLieu(lieu.id_lieu)"><i class="fa-solid fa-eye"></i></button>
          <button (click)="updateLieu(lieu)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button (click)="deleteLieu(lieu.id_lieu)"><i class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>




  <!-- Pagination -->
  <button id="searchButton" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-circle-chevron-left"></i></button>
  <button id="searchButton" (click)="nextPage()"><i class="fa-solid fa-circle-chevron-right"></i></button>
</div>


<!-- Section des détails du client sélectionné -->
<div *ngIf="selectedLieu && userDetailVisible[selectedLieu.id_lieu]" class="usercard">
 

  
<div class="card mb-3" style="max-width: 940px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/assets/batiment.png" class="img-fluid rounded-start" alt="Logo ">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ selectedLieu.nom }}</h5>
        <p class="card-text"> 
          <p>Batiment: {{ selectedLieu.batiment }}</p>
          <p>Local: {{ selectedLieu.locaux }}</p>
          <p>Adresse: {{ selectedLieu.id_adresse }}</p>
          <p>Institution: {{ selectedLieu.id_institution }}</p>
      
        <p class="card-text"><small class="text-body-secondary"> <p>N° {{ selectedLieu.id_lieu }}</p></small></p>
      </div>
    </div>
  </div>

</div>

<button id="searchButton" (click)="toggleDetails(selectedLieu)">
  {{ userDetailVisible[selectedLieu.id_lieu] ? 'Masquer Détails' : 'Afficher Détails' }}
</button>
</div>



