<div class="body"    *ngIf="!showAddProduitForm && !showUpdateProduitForm" >



  <div *ngIf="!selectedFormation || !userDetailVisible[selectedFormation.id_produit]" class="usercard" >
      <h2>Liste des formations / journeés</h2>
      <button id="searchButton" (click)="toggleAddProduitForm()">Ajouter une Formation</button>

       <!-- Formulaire de recherche -->
       <form (ngSubmit)="searchFormationsByname(searchTerm)" class="search-container" #searchForm="ngForm">
    <input id="searchInput" type="text" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Rechercher par titre..." />
    <button id="searchButton" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>

      <!-- Tableau des Formations -->
       <table class="table table-striped mt-3" *ngIf="!(showSearchResults && ( Formations | async)?.length)">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date debut</th>
        <th>Public</th>
        <th class="affichage">Lieu</th>
        <th>Image</th>
      </tr>
     </thead>
     <tbody>
      <!-- Utilisation de la directive *ngFor pour itérer sur les utilisateurs -->
      <tr *ngFor="let produit of  Formations | async">
        <td>{{ produit.titre}}</td>
        <td>{{ produit.date_debut }}</td>
        <td>{{ produit.public_cible}}</td>
        <td class="affichage">{{ produit.lieu?.nom }}</td>
        <td> <img [src]="produit.image?.url_image" class="custom-image" ></td>
        <td>
         <button (click)="selectFormation(produit.id_produit)"><i class="fa-solid fa-eye"></i></button>
         <button   (click)="toggleUpdateProduitForm(produit)"><i class="fa-solid fa-pen-to-square"></i></button>
          <button  id="searchButton"  (click)="deleteFormation(produit.id_produit)"><i class="fa-solid fa-trash"></i></button>
          
        </td>
      </tr>
      </tbody>
      </table>



      
<!-- Gestion notif-->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
        <strong class="me-auto">ceREF</strong>
        <small>Maintenant</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <div class="alert alert-success" *ngIf="successMessage">
          {{ successMessage }}
        </div>
        
        <div class="alert alert-danger" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>


  
      <!-- Section des résultats de recherche -->
    <div  *ngIf="showSearchResults && ( Formations2 | async)?.length">
    <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date debut</th>
        <th>Public</th>
        <th class="affichage">Lieu</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let produit of  Formations2 | async">
        <td>{{ produit.titre}}</td>
        <td>{{ produit.date_debut }}</td>
        <td>{{ produit.public_cible}}</td>
        <td class="affichage">{{ produit.lieu?.nom }}</td>
        <td> <img [src]="produit.image?.url_image" class="custom-image" ></td>
        <td>
          <button (click)="selectFormation(produit.id_produit)"><i class="fa-solid fa-eye"></i></button>
          <button  (click)="toggleUpdateProduitForm(produit)"><i class="fa-solid fa-pen-to-square"></i></button>
           <button  id="searchButton"  (click)="deleteFormation(produit.id_produit)"><i class="fa-solid fa-trash"></i></button>
        </td>
         </tr>
         </tbody>
        </table>
     </div>




      <!-- Pagination -->

      <div class="button-container">
        <button id="searchButton" (click)="previousPage()" [disabled]="currentPage === 1"><i class="fa-solid fa-circle-chevron-left"></i></button>
        <button id="searchButton" (click)="nextPage()"><i class="fa-solid fa-circle-chevron-right"></i></button>
      </div>

  </div>


<!-- Section des détails du client sélectionné -->
  <div *ngIf="selectedFormation && userDetailVisible[selectedFormation.id_produit]" class="detailView">
    <h3>Details</h3>
     <div class="card mb-3" style="max-width: 1040px;">
       <div class="row g-0">
         <div class="col-md-4">
          <img [src]="selectedFormation.image?.url_image" class="img-fluid rounded-start" alt="Logo">
          </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ selectedFormation.titre }}</h5>
          <p class="card-text">   <p>Sous titre: {{ selectedFormation.sous_titre }}</p>
          <p>description: {{ selectedFormation.descriptif }}</p>
          <p>Objectif: {{ selectedFormation.objectif }}</p>
          <p>Contenue: {{ selectedFormation.contenu }}</p>
          <p>Methodologie: {{ selectedFormation.methodologie }}</p>
          <p>Date debut: {{ selectedFormation.date_debut }}</p>
          <p>Date fin: {{ selectedFormation.date_fin }}</p>
          <p>Lieu: {{ selectedFormation.lieu?.batiment }}  {{ selectedFormation.lieu?.locaux }}</p>
          <p>Type: {{ selectedFormation.typeProduit?.nom }}</p>
          <p>Public: {{ selectedFormation.public_cible }}</p>
          <p>Prix: {{ selectedFormation.prix }}</p>
          
  
          <p class="card-text"><small class="text-body-secondary"> <p>Fin d'inscription: {{ selectedFormation.date_fin_inscription }}</p></small></p>
        </div>
      </div>
    </div>
  
 
    </div>
      <button id="searchButton" (click)="toggleDetails(selectedFormation)">
       {{ userDetailVisible[selectedFormation.id_produit] ? 'Masquer Détails' : 'Afficher Détails' }}
      </button>
    </div>




</div>




<!-- Gestion  form ajout de formation -->
<div class="usercard2"  *ngIf="showAddProduitForm" >

  <button id="searchButton" (click)="toggleAddProduitForm()">Retour</button>


  <form >
    <div class="row mt-3">
      <div class="col-3"></div>
      <div class="col form-floating mb-3">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="titre" placeholder="Nom" [(ngModel)]="produit.titre" name="titre" autofocus required>
          <label for="name">titre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="sous_titre"  [(ngModel)]="produit.sous_titre" name="sous_titre">
          <label for="logo">sous_titre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="date_debut" [(ngModel)]="produit.date_debut" name="date_debut">
          <label for="Date debut">Date debut</label>
        </div>
        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="date_fin" placeholder="date_fin" [(ngModel)]="produit.date_fin" name="date_fin" autofocus required>
          <label for="date fin">date fin</label>
        </div>
        <div class="form-floating mb-3">
          <input type="date" class="form-control" id="date_fin_inscription" placeholder="date_fin_inscription" [(ngModel)]="produit.date_fin_inscription" name="date_fin_inscription" autofocus required>
          <label for="date fin inscription">date fin inscription</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="descriptif" placeholder="descriptif" [(ngModel)]="produit.descriptif" name="descriptif" autofocus required>
          <label for="description">description</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="objectif" placeholder="objectif" [(ngModel)]="produit.objectif" name="objectif" autofocus required>
          <label for="objectif">objectif</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="contenu" placeholder="contenu" [(ngModel)]="produit.contenu" name="contenu" autofocus required>
          <label for="contenu">contenu</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="methodologie" placeholder="methodologie" [(ngModel)]="produit.methodologie" name="methodologie" autofocus required>
          <label for="methodologie">methodologie</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="public_cible" placeholder="public_cible" [(ngModel)]="produit.public_cible" name="public_cible" autofocus required>
          <label for="public cible">public cible</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" max="1000" class="form-control" id="prix" placeholder="prix" [(ngModel)]="produit.prix" name="prix" autofocus required>
          <label for="prix">prix</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="id_image" placeholder="id_image" [(ngModel)]="produit.id_image" name="id_image" autofocus required>
          <label for="id_image">id_image</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" class="form-control" id="id_lieu" placeholder="id_lieu" [(ngModel)]="produit.id_lieu" name="id_lieu" autofocus required>
          <label for="id_lieu">id_lieu</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" max="2" class="form-control" id="id_type_produit" placeholder="id_type_produit" [(ngModel)]="produit.id_type_produit" name="id_type_produit" autofocus required>
          <label for="type produit">type produit</label>
        </div>

        <div class="align-right">
          <button type="submit" id="searchButton" (click)="addFormation(produit)"    (click)="toggleAddProduitForm()">Ajouter</button>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </form>

<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success" *ngIf="successMessage">
        {{ successMessage }}
      </div>

      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
</div>










<!-- Gestion  Update  instit -->
<div class="usercard2"    *ngIf="showUpdateProduitForm" >




  <div class="update-form" *ngIf="ProduitToUpdate" >
    <h2>Modifier Produit</h2>
    <button id="searchButton" (click)="toggleAddProduitForm()">Retour</button>

    <form (ngSubmit)="updateFormation(ProduitToUpdate)" #updateForm="ngForm">
      <div class="form-group">
        <label for="titre">titre</label>
        <input type="text" class="form-control" id="titre"  [(ngModel)]="ProduitToUpdate.titre" name="titre" autofocus required>
      </div>
      <div class="form-group">
        <label for="sous_titre">sous_titre</label>
        <input type="text" class="form-control" id="sous_titre"  [(ngModel)]="ProduitToUpdate.sous_titre" name="sous_titre">
      </div>
      <div class="form-group">
        <label for="Date debut">Date debut</label>
        <input type="date" class="form-control" id="date_debut" [(ngModel)]="ProduitToUpdate.date_debut" name="date_debut">

      </div>
      <div class="form-group">
        <label for="date fin">date fin</label>
        <input type="date" class="form-control" id="date_fin"  [(ngModel)]="ProduitToUpdate.date_fin" name="date_fin" autofocus required>
      </div>
      <div class="form-group">
        <label for="date fin inscription">date fin inscription</label>
        <input type="date" class="form-control" id="date_fin_inscription"  [(ngModel)]="ProduitToUpdate.date_fin_inscription" name="date_fin_inscription" autofocus required>
      </div>
      <div class="form-group">
        <label for="description">description</label>
        <input type="text" class="form-control" id="descriptif"  [(ngModel)]="ProduitToUpdate.descriptif" name="descriptif" autofocus required>
      </div>
      <div class="form-group">
        <label for="objectif">objectif</label>
        <input type="text" class="form-control" id="objectif" [(ngModel)]="ProduitToUpdate.objectif" name="objectif" autofocus required>
      </div>
      <div class="form-group">
        <label for="contenu">contenu</label>
        <input type="text" class="form-control" id="contenu"  [(ngModel)]="ProduitToUpdate.contenu" name="contenu" autofocus required>
      </div>
      <div class="form-group">
        <label for="methodologie">methodologie</label>
        <input type="text" class="form-control" id="methodologie"  [(ngModel)]="ProduitToUpdate.methodologie" name="methodologie" autofocus required>
      </div>
      <div class="form-group">
        <label for="public cible">public cible</label>
        <input type="text" class="form-control" id="public_cible"  [(ngModel)]="ProduitToUpdate.public_cible" name="public_cible" autofocus required>
      </div>
      <div class="form-group">
        <label for="prix">prix</label>
        <input type="number"  class="form-control" id="prix"  [(ngModel)]="ProduitToUpdate.prix" name="prix" autofocus required>
      </div>
      <div class="form-group">
        <label for="id_image">id_image</label>
        <input type="number" class="form-control" id="id_image"  [(ngModel)]="ProduitToUpdate.id_image" name="id_image" autofocus required>
      </div>
      <div class="form-group">
        <label for="id_lieu">id_lieu</label>
        <input type="number" class="form-control" id="id_lieu"  [(ngModel)]="ProduitToUpdate.id_lieu" name="id_lieu" autofocus required>
      </div>
      <div class="form-group">
        <label for="type produit">type produit</label>
        <input type="number"  class="form-control" id="id_type_produit"  [(ngModel)]="ProduitToUpdate.id_type_produit" name="id_type_produit" autofocus required>
      </div>
      <button type="submit" id="searchButton" >Enregistrer</button>
    </form>
  </div>





<!-- Gestion notif-->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/assets/fleche_ceref.jpeg" class="rounded me-2" alt="logo_ceref" style="width: 15px; height: 15px;">
      <strong class="me-auto">ceREF</strong>
      <small>Maintenant</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <div class="alert alert-success" *ngIf="successMessage">
        {{ successMessage }}
      </div>

      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
</div>
