
.search-container {
    display: flex;
    align-items: center;
    justify-content:end;
    margin-top: 20px;

   
  }

  .buttonadd{
    padding: 8px 16px;
    background-color: #800860; /* Couleur de fond du bouton (bleu par défaut) */
    color: black; /* Couleur du texte */
    border: 1,5 solid #800860 ;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style du champ de saisie */
  #searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    margin-right: 5px;
  }
  
  /* Style du bouton de recherche */
  #searchButton {
    padding: 8px 16px;
    background-color: #800860; /* Couleur de fond du bouton (bleu par défaut) */
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

    
  
  .usercard {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    
   
    p {
      font-weight: 300;
      font-size: 16px;
    }
    button {
      background-color: transparent;
      box-sizing: border-box;
      padding: 5px 10px;
      border: none;
      box-shadow: lightgray 3px 3px 7px;
      margin-right: 20px;
      outline: none;
      font-size: 14px;
      font-weight: 500;
      &:active {
        transform: translate(1px, 1px);
        box-shadow: lightgray 0 0 5px;
      }
    }
  }


  h2{
    text-align: center;
    font-family: 'Helvetica Neue', Arial, sans-serif; 
   
    font-size: 24px; 
    font-weight: bold; 
    color: #333;
  }
  h3{
    text-align: center;
    font-family: 'Helvetica Neue', Arial, sans-serif; 
   
    font-size: 24px; 
    font-weight: bold; 
    color: #333;
  }
 
  .logoImage{
    height: 50px;
    width: 100px;

  }
  #usercard2{

    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    
  }






/* Style pour les boutons d'action sous chaque image */
.button-container {
  margin-top: 10px;
}

/* Style pour les boutons */
.button-container button {
  margin-right: 5px;
  padding: 5px;
}


.custom-image {
  width: 200px; 
  height: 150px; 
  object-fit: cover; /* Redimensionne l'image pour remplir le conteneur sans déformer */
}
